<hr>
<br>
<!-- #################################################################################################################################################################################### -->
		<!-- Footer Section -->
		<section class="footer-container">
			<div class="container">
				<div class="row footer-containertent">
					<div class="col-md-4">
						<img src="../images/logo_ar.png" alt="AR Soluções"> <br/> <br/>
	                </div>
	                <div class="col-md-4">
						<div>
	                    	<p>Acesse sua conta de e-mail.</p>
							<a href="http://webmail.andersonrosa.com.br/" target="_blank">
								<i class="fa fa-envelope"></i>  webmail</a>
						</div>
	                </div>
	                <div class="col-md-4 contac-us">
						<h4>Contato</h4>
	                    <p>Para entrar em contato use as informações abaixo.</p>
						<ul>
							<li><i class="fa fa-home"></i>João Batista Danieleto, 311 - Bocaina/SP</li>
							<li>CEP 17.245-136 - Jardim Nova Bocaina I</li>
							<li><i class="fa fa-facebook"></i>@AndersonRosa</li>
							<li><i class="fa fa-instagram"></i>@AndersonRosa</li>
							<li><i class="fa fa-envelope-o"></i>admin@andersonrosa.com.br</li>
							<li><i class="fa fa-whatsapp"></i><a href="https://api.whatsapp.com/send?phone=5514996905500" target="_blank"></a>+55 14 99690 5500</li>
							<li><i class="fa fa-phone"></i><a href="tel:+5514996905500"></a>+55 14 99690 5500</li>
                        </ul> 
                	</div>
				</div>
			</div>
		</section>
		<!-- Footer Section End -->
<!-- #################################################################################################################################################################################### -->

<!-- #################################################################################################################################################################################### -->
		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="footer-containertent">
						<ul class="footer-social-info">
<!-- --
							<li>
								<a href="https://www.facebook.com/AndersonRosaFotografo" target="_blank">
									<i class="fa fa-facebook"></i></a>
	                        </li>
    	                    <li>
        	                    <a href="https://www.instagram.com/andersonrosafotografo" target="_blank">
									<i class="fa fa-instagram"></i></a>
                	        </li>
    	                    <li>
        	                    <a href="https://www.linkedin.com/in/andersonrosa79/" target="_blank">
									<i class="fa fa-linkedin"></i></a>
                	        </li>
						<!-- --
							<li>
								<a href="https://api.whatsapp.com/send?phone=5514996905500" target="_blank">
                                	<i class="fa fa-whatsapp"></i></a>
							</li>
						<!-- -->
						</ul>
						<br/> <br/>
						<p> Copyright © 2024. by Anderson Rosa. </p>
					</div>
				</div>
			</div>

			<!-- whatsapp flutuante -->
			<div>
<!-- --
				<a href="https://api.whatsapp.com/send?phone=5514996905500" target="_blank">
       				<img class="whatsapp" src="images/img_icons/whatsapp.png"/>
    			</a>

				<a href="https://api.whatsapp.com/send?phone=5514996905500" target="_blank">
       				<img width="100px" height="100px" class="whatsapp" src="images/img_icons/whatsapp.gif"/>
    			</a>
<!-- -->
			</div>
			<!-- whatsapp flutuante end -->

		</footer>
		<!-- Footer End -->
<!-- #################################################################################################################################################################################### -->
		</body>
	</html>