@charset "utf-8";

/* Ajuste do título (h1) e do form com
   relação à margem esquerda */
h2, form {
    margin-left: 40px;
}

/* Campo e-mail */
input[type="email"] {
    width: 400px;
}

/*Campo departamento */
select {    
    width: 410px;  
}

/* Definição dos grupos de opções */
optgroup {
    background-color: blue;
    color: white;
}

/* Definição das opções de cada grupo de opções. */
option {
    background-color: white;
    color: blue;
}

/* Campo assunto */
input[type="text"] {
    width: 400px;
}

/* Campo mensagem */
textarea {
    width: 400px;
}
