body {
    font: 11px verdana;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 150px;
	border-bottom: 1px solid #ccc;
	}
	
ul li {
	position: relative;
}

ul li a {
	display: block;
	text-decoration: none;
	color: #777;
	background: #fff;
	padding: 5px;
	border: 1px solid #ccc;
	border-bottom: 0;
}

li:hover ul {display: block; }

li ul {
	position: absolute;
	left: 149px;
	top: 0px;
	display: none;
}

ul li a:hover {
    background: #f9f9f9 none repeat scroll 0 0;
    color: #e2144a;
}

strong{
		float:right;
}