
*{
	text-align: center;
}

#gamecards{
	padding-top: 10px;
    width      : 803px;
    height     : 600px;
}
 
.line{
    height       : 200px;
}
 
.box{
    width       : 200px;
    height      : 100%;
    float       : left;
}

.card{
    width       : 198px;
    height      : 198px;
    float       : left;
}

h2{
	font-size: 60px;
	padding  : 0, 0, -200px, 0;
}

h3{
	font-size: 30px
}

form input
	{
		margin-bottom: 10px;
		width        : 340px;
		height       : 30px;
	}




