body {
    font: 14px verdana;
}
 /*Shorthand*/
h1 {
    font-family: verdana;
    font-size: 24px ;
}

h2 {
    font-family: verdana;
    font-size: 20px ;
}

ul {	
	list-style: none;    
}
	
ul li {
	position: relative;
}

ul li a {
	display: block;
	text-decoration: none;
	color: #777;
	background: #fff;
	padding: 5px;	
	border-bottom: 0;
}

li:hover ul {display: block; }

ul li a:hover {    
    font: 16px verdana;
	font-weight:bold;
	color: #e2144a;
}

