:root
	{
		--external-color:   #6A040F;
		--bar-box-color:    #4E020B;
		--font-color:       #D2D2D2;
		--background-color: #0B0507;
		--hover-f-color:    #FFBA08;
		--hover-b-color:    #6A040F;
		--disable-f-color:  #FFE4A2;
		--disable-b-color:  #FFF5DC;
	}

*
	{
		margin:           0;
		padding:          0;
		box-sizing:       border-box;
		text-decoration:  none;
		font-family:      Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
		color:            var(--font-color);
		background:       var(--background-color);
        scroll-behavior:  smooth;
	}

body
	{
/**		background: var(--background-color);/**/
	}

header
	{
		top:    0;
		width:  100%;
    	height: 145px;
	}

.m_head
	{
		background-color: var(--external-color);
	}

.tab
    {
        margin-left:      30px;
        background-color: var(--bar-box-color);
    }

.tab li
    {
        background-color: var(--bar-box-color);
    }

.map
    {
        width:            100%;
        height:           320px;
        background-color: var(--bar-box-color);
    }

#m_logo
	{
		width:            100px;
		height:           100px;
		margin:           10px 15px 10px 15px;
		background-color: transparent;
	}

#f_logo
	{
		right:            0;
		position:         absolute;
		height:           100px;
		margin:           25px 15px 10px 15px;
		background-color: transparent;
	}

.flex-icon
	{
		display:          flex;
		align-items:      center;
        padding-bottom:   5px;
		background-color: transparent;
	}

.flex-icon img
	{
		width:            50px;
		height:           50px;
		background-color: transparent;
	}

.img-full
	{
		width: 100%;
	}

.img-box
	{
		width:            340px;
		background-color: transparent;		
	}

.img-myself
	{
		width:         190px;
		height:        190px;
		margin-top:    5px;
		border-radius: 50%;
	}

.person-left
	{
		width:         110px;
		height:        100px;
		margin:        5px 15px 5px 0;
		border-radius: 50%;
	}

.person-right
	{
		width:         110px;
		height:        100px;
		margin:        5px 15px 5px 0;
		border-radius: 50%;
	}

.icon
	{
		height:           100px;
		margin-top:       15px;
		background-color: transparent;
	}

.img-tmp
	{
		width:            50%;
		margin-top:       15px;
		background-color: transparent;
	}

.link
	{
		margin-top:       20px;
		transition:       .65s;
		background-color: transparent;
	}

.link:hover
	{
		color:            var(--hover-f-color);
		background-color: transparent;
	}

.t-link
	{
		margin-top:       20px;
		transition:       .65s;
		text-decoration:  underline;
		background-color: transparent;
	}

.t-link:hover
	{
		color:            var(--hover-f-color);
		background-color: transparent;
	}

nav
	{
	/**	text-transform: lowercase;/**/
	}

/* menu horizontal */
/**/
#menu-h ul
	{
		list-style:       none;
		padding:          0;
		background-color: var(--bar-box-color);
	}

#menu-h ul li
	{
		display: inline;
	}

#menu-h ul li a
	{
		padding:          10px;
		display:          inline-block;
		transition:       background .55s;
		background-color: var(--bar-box-color);
	}

#menu-h ul li a:hover
	{
		color:            var(--hover-f-color);
		background-color: var(--hover-b-color);
	}

#menu-h li.active a
	{
		color:       var(--hover-f-color);
		font-weight: bold;
	}

/**
#menu-h ul
	{
		list-style:       none;
		padding:          0;
		background-color: var(--bar-box-color);
	}

#menu-h ul li
	{
		padding:          10px;
		display:          inline-block;
		transition:       background .55s;
		background-color: var(--bar-box-color);
	}

#menu-h ul li:hover
	{
		color:            var(--hover-f-color);
		background-color: var(--hover-b-color);
	}

#menu-h li.active a
	{
		color:       var(--hover-f-color);
		font-weight: bold;
	}
/**/

/* menu Vertical */
#menu-v
	{
		text-align: left;
		max-width:  340px;
	}

#menu-v ul
	{
		list-style:       none;
		padding-left:     5px;
		background-color: var(--bar-box-color);
	}

#menu-v ul li a
	{
		padding:          4px;
		display:          block;
		transition:       background .55s;
		background-color: var(--bar-box-color);
	}

#menu-v ul li a:hover
	{
		color:            var(--hover-f-color);
		background-color: var(--hover-b-color);
	}

.student
	{
		text-transform: lowercase;
	}

p, span
	{
		background-color: transparent;
	}

.text
	{
        padding:     10px 0;
        line-height: 1.6;
		text-align:  justify;
	}

hr
	{
		margin-bottom:    10px;
		background-color: transparent;
	}

h1,h2,h3,h4,h5,h6
	{
		text-align:       left;
		margin-left:      3%;
		margin-top:       8px;
		background-color: transparent;
	}

h1
	{
		position:  absolute;
		left:      100px;
		top:       30px;
/**		font-size: 60px;/**/
	}

h2
	{
        margin-left:    8px;
		padding-bottom: 5px;
	}

h3
	{
        margin-left:    8px;
		padding-bottom: 5px;
	}

h4
	{
        margin-left:    8px;
		padding-bottom: 5px;
	}

h5
	{
		/**/
	}

h6
	{
		/**/
	}

article
	{
    	text-align:       center;
    	font-size:        16px;
		padding:          20px 0 65px 0;
		background-color: transparent;
	}

#frm
	{
		display:          block;
		text-align:       justify;
		width:            370px;
		background-color: transparent;
	}

#frm div
	{
		text-align:       center;
		background-color: transparent;
	}

#frm-fields input, select, textarea
	{
		display:          block;
		border-style:     hidden;
		margin-bottom:    10px;
		padding-left:     8px;
		border-radius:    10px;
		width:            340px;
		height:           30px;
		color:            var(--background-color);
		background-color: var(--font-color);
	}

#frm-fields textarea
	{
		padding-top: 8px;
		height:      150px;
	}

#frm-check
	{
		padding-top: 5px;
		display:     inline-block;
	}

#frm-button
	{
		padding-top: 5px;
		display:     inline-block;
	}

label
	{
		padding:          5px;
		background-color: transparent;
	}

.button
	{
		font-size:        18px;
		font-weight:      450;
		margin:           10px 0 0 10px;
		display:          inline;
		border-style:     hidden;
		transition:       .4s;
		width:            150px;
		height:           35px;
		border-radius:    15px;
		color:            var(--hover-f-color);
		background-color: var(--external-color);
	}

.button:hover
	{
		color:            var(--hover-b-color);
		background-color: var(--hover-f-color);
	}

.button:disabled
{
		color:            var(--disable-f-color);
		background-color: var(--disable-b-color);
}

footer
	{
    	bottom:           0;
    	width:            100%;
    	height:           50px;
    	position:         fixed;
		text-align:       center;
		background-color: var(--external-color);
	}

.copy
	{
		padding:          15px;
		font-weight:      100;
		background-color: transparent;
	}

.box
	{
		margin:           20px 20px 0 20px;
		padding:          15px;
/**		max-width:        370px;/**/
        width:            auto;
		border-radius:    15px;
		background-color: var(--bar-box-color);
	}

.box-comment
	{
        text-align:       left;
        font-size:        12px;
		margin:           15px 5px 0;
		padding:          8px;
		width:            auto;
		border-radius:    15px;
		background-color: var(--bar-box-color);
	}

.bold
    {
        font-weight: bold;
    }

.italic
    {
        font-style: italic;
    }
