
#######################################
##  Configurar utilização  de https  ##
#######################################
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ http://201.55.33.89/si/2022/0200832221001/$1 [R,L]


#######################################
##   Redirecionar em caso de erros   ##
#######################################
 ErrorDocument 400 /on_err.php?err=400
 ErrorDocument 403 /on_err.php?err=403
 ErrorDocument 404 /on_err.php?err=404
 ErrorDocument 500 /on_err.php?err=500
 ErrorDocument 501 /on_err.php?err=501
 ErrorDocument 502 /on_err.php?err=502
 ErrorDocument 503 /on_err.php?err=503
 ErrorDocument 504 /on_err.php?err=504
 ErrorDocument 505 /on_err.php?err=505
#######################################


## Redirecionar em caso de erros ##
## ErrorDocument 400 http://andersonrosa.com.br/conecte-se/ ##
## ErrorDocument 403 http://andersonrosa.com.br/conecte-se/ ##
## ErrorDocument 404 http://andersonrosa.com.br/conecte-se/ ##
## ErrorDocument 500 http://andersonrosa.com.br/conecte-se/ ##
## ErrorDocument 501 http://andersonrosa.com.br/conecte-se/ ##
## ErrorDocument 502 http://andersonrosa.com.br/conecte-se/ ##
## ErrorDocument 503 http://andersonrosa.com.br/conecte-se/ ##
## ErrorDocument 504 http://andersonrosa.com.br/conecte-se/ ##
## ErrorDocument 505 http://andersonrosa.com.br/conecte-se/ ##
